{% extends "base.html" %}
{% block title %}{{ super() }}Page introuvable{% endblock %}

{% block content %}
<style>
    #main { position: absolute; top: 50%; left: 50%;
        transform: translate(-50%, -50%); }
</style>
<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">La page que vous avez demandée est introuvable.</h2>
    </div>
</div>
{% endblock %}