<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Visualisation des arrêts de bus - {% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/public/assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/public/assets/css/plan-arrets.css"/>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        {% block stylesheets %}{% endblock %}
    </head>
<body>
    {% block nav %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Visualisation des arrêts de bus</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {{ 'active' if active == 'map' }}" href="/">Carte</a>
                    <a class="nav-item nav-link {{ 'active' if active == 'arrets'}}" href="/arrets">Arrêts</a>
                </div>
            </div>
        </nav>
    </header>
    {% endblock %}
    <br>
    <div class="container-md">
        {% block content %}{% endblock %}
    </div>
    <br>
    {% block modals %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/nunjucks.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>