{% extends "base.html" %}

{% block title %}{{ super() }}Résultat de la recherche{% endblock %}

{% block h1 %}<h1>Résultat de la recherche '{{keyword}}'</h1>{% endblock %}

{% block content %}<p>{{countBeacons}} balises trouvées</p>{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=".">Liste complète</a></li>
        <li class="breadcrumb-item active" aria-current="page">Recherche</li>
    </ol>
</nav>
{% endblock %}

{% block table %}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Identifiant</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
    </tr>
    </thead>
    <tbody>
    {% for beacon in beacons %}
    <tr>
        <th scope="row">{{ beacon.id }}</th>
        <td>{{ beacon.latitude | round(2) }}</td>
        <td>{{ beacon.longitude | round(2) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}